<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.papabear.dis.dao.DisClaimDao" >
  <resultMap id="BaseResultMap" type="com.papabear.dis.entity.DisClaim" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="category_model_id" property="categoryModelId" jdbcType="BIGINT" />
    <result column="category_model_format_id" property="categoryModelFormatId" jdbcType="BIGINT" />
    <result column="money" property="money" jdbcType="REAL" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="source_type" property="sourceType" jdbcType="TINYINT" />
    <result column="use_time" property="useTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_date_time" property="createDateTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="invalid" property="invalid" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, phone_number, category_model_id, category_model_format_id, money, user_id, source_type, 
    use_time, status, create_date_time, update_time, invalid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_dis_claim
    where id = #{id,jdbcType=BIGINT}
  </select>
   <select id="queryListByPhone" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_dis_claim
    where phone_number = #{phoneNumber,jdbcType=VARCHAR}
  </select>
  <select id="getDisClaim" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_dis_claim
    where id = #{id,jdbcType=BIGINT} and  phone_number = #{phone,jdbcType=VARCHAR} 
  </select>
  
  <select id="getClaimByPhoneAndCategoryModelId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_dis_claim
    where phone_number = #{phone,jdbcType=VARCHAR} and category_model_id = #{modelId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_dis_claim
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.papabear.dis.entity.DisClaim" >
    insert into tbl_dis_claim (id, phone_number, category_model_id, 
      category_model_format_id, money, user_id, 
      source_type, use_time, status, 
      create_date_time, update_time, invalid
      )
    values (#{id,jdbcType=BIGINT}, #{phoneNumber,jdbcType=VARCHAR}, #{categoryModelId,jdbcType=BIGINT}, 
      #{categoryModelFormatId,jdbcType=BIGINT}, #{money,jdbcType=REAL}, #{userId,jdbcType=BIGINT}, 
      #{sourceType,jdbcType=TINYINT}, #{useTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, 
      #{createDateTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{invalid,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.papabear.dis.entity.DisClaim" >
    insert into tbl_dis_claim
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="categoryModelId != null" >
        category_model_id,
      </if>
      <if test="categoryModelFormatId != null" >
        category_model_format_id,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="sourceType != null" >
        source_type,
      </if>
      <if test="useTime != null" >
        use_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createDateTime != null" >
        create_date_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="invalid != null" >
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="categoryModelId != null" >
        #{categoryModelId,jdbcType=BIGINT},
      </if>
      <if test="categoryModelFormatId != null" >
        #{categoryModelFormatId,jdbcType=BIGINT},
      </if>
      <if test="money != null" >
        #{money,jdbcType=REAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="sourceType != null" >
        #{sourceType,jdbcType=TINYINT},
      </if>
      <if test="useTime != null" >
        #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createDateTime != null" >
        #{createDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalid != null" >
        #{invalid,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.papabear.dis.entity.DisClaim" >
    update tbl_dis_claim
    <set >
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="categoryModelId != null" >
        category_model_id = #{categoryModelId,jdbcType=BIGINT},
      </if>
      <if test="categoryModelFormatId != null" >
        category_model_format_id = #{categoryModelFormatId,jdbcType=BIGINT},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=REAL},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="sourceType != null" >
        source_type = #{sourceType,jdbcType=TINYINT},
      </if>
      <if test="useTime != null" >
        use_time = #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createDateTime != null" >
        create_date_time = #{createDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalid != null" >
        invalid = #{invalid,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.papabear.dis.entity.DisClaim" >
    update tbl_dis_claim
    set phone_number = #{phoneNumber,jdbcType=VARCHAR},
      category_model_id = #{categoryModelId,jdbcType=BIGINT},
      category_model_format_id = #{categoryModelFormatId,jdbcType=BIGINT},
      money = #{money,jdbcType=REAL},
      user_id = #{userId,jdbcType=BIGINT},
      source_type = #{sourceType,jdbcType=TINYINT},
      use_time = #{useTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      create_date_time = #{createDateTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      invalid = #{invalid,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>