<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.papabear.dis.dao.DisClaimSumDao" >
  <resultMap id="BaseResultMap" type="com.papabear.dis.entity.DisClaimSum" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="REAL" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_date_time" property="createDateTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="invalid" property="invalid" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, phone_number, money, status, create_date_time, update_time, invalid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_dis_claim_sum
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getByPhone" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from tbl_dis_claim_sum
    where phone_number = #{phoneNumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_dis_claim_sum
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.papabear.dis.entity.DisClaimSum" >
    insert into tbl_dis_claim_sum (id, phone_number, money, 
      status, create_date_time, update_time, 
      invalid)
    values (#{id,jdbcType=BIGINT}, #{phoneNumber,jdbcType=VARCHAR}, #{money,jdbcType=REAL}, 
      #{status,jdbcType=TINYINT}, #{createDateTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{invalid,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.papabear.dis.entity.DisClaimSum" >
    insert into tbl_dis_claim_sum
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createDateTime != null" >
        create_date_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="invalid != null" >
        invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=REAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createDateTime != null" >
        #{createDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalid != null" >
        #{invalid,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.papabear.dis.entity.DisClaimSum" >
    update tbl_dis_claim_sum
    <set >
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=REAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createDateTime != null" >
        create_date_time = #{createDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalid != null" >
        invalid = #{invalid,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.papabear.dis.entity.DisClaimSum" >
    update tbl_dis_claim_sum
    set phone_number = #{phoneNumber,jdbcType=VARCHAR},
      money = #{money,jdbcType=REAL},
      status = #{status,jdbcType=TINYINT},
      create_date_time = #{createDateTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      invalid = #{invalid,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>